[project]
	description = Automatically exported from code.google.com/p/android-cookbook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wasted90913
[access "refs/for/refs/*"]
	read = group user/wasted90913
	push = group user/wasted90913
	label-Code-Review = -2..+2 group user/wasted90913
	label-Verified = -1..+1 group user/wasted90913
	rebase = group user/wasted90913
	removeReviewer = group user/wasted90913
	submit = group user/wasted90913
[access "refs/heads/*"]
	read = group user/wasted90913
	create = group user/wasted90913
	push = +force group user/wasted90913
	pushMerge = group user/wasted90913
[access "refs/tags/*"]
	push = +force group user/wasted90913
	pushTag = group user/wasted90913
	pushSignedTag = group user/wasted90913
